<a href="https://colab.research.google.com/github/harutmark/py100_exercises/blob/main/py100_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Py100 Exercises - Python Basics

## I. Reading Documentation 1

### 1. Finding Documentation

### 2. Lowercase

### 3. Right Justify Strings

### 4. Reverse

### 5. List Element Access

### 6. Finding Index

### 7. Out of Bounds

### 8. Large Numbers

### 9. Checking Data Types

## II. Reading Documentation 2

### 1. String Formatting
How can you print the string Hello, Victor. You are a programmer. using the str.format method? You should fill in the name and profession in a string literal that contains the rest of the text.
How can you achieve the same result using an f-string?
Refer to the Python documentation on Format String Syntax and Formatted string literals for guidance.

    name = "Victor"
    profession = "programmer"

In [ ]:
name = "Victor"
profession = "programmer"

result = "Hello, {}. You are a {}.".format(name, profession)
print(result)

print(f'Hello, {name}. You are a {profession}.')

Hello, Victor. You are a programmer.
Hello, Victor. You are a programmer.

### 2. Style Guide
In the following code snippet, find all violations of the PEP8 style guide. Rewrite it so that it conforms with the guide.
    iceCreamDensity=10
    
    while iceCreamDensity>0 :
        print('Drip...')
        iceCreamDensity-=1
    
    print('The ice cream melted.')

In [ ]:
ice_cream_density = 10

while ice_cream_density > 0:
    print('Drip...')
    ice_cream_density -= 1

print('The ice cream melted.')

Drip...
Drip...
Drip...
Drip...
Drip...
Drip...
Drip...
Drip...
Drip...
Drip...
The ice cream melted.

1. Variable Naming: Variables should be in snake_case instead of camelCase.
1. Spacing: There shouldn't be a space before the colon in the while loop.
1. Missing Spaces: There should be a single space on both sides of the =, >, and -= operators.

### 3. Arithmetic Operator Precedence
Find the Python Documentation on operator precedence, and use it to determine the result of evaluating
    4 * 5 + 3**2 / 10.

1. exponentiation:
   4 * 5 + 9 / 10
3. multiplication & division (left to right):
   20 + 0.9
5. addition:
   20.9

In [ ]:
4 * 5 + 3**2 / 10

20.9

In [ ]:
# The following is good practice:
(4 * 5) + ((3**2) / 10)

20.9

### 4. Date
Using the datetime module in Python, how would you obtain the current date and time?

In [ ]:
import datetime

print(datetime.datetime.now())

2024-05-16 12:00:11.603000

### 5. Which Year is This?
The Python documentation for the datetime module provides two attributes to retrieve the year from a date or datetime object: year and isocalendar.
    from datetime import date
    
    today = date.today()
    
    today_year = today.year
    iso_year = today.isocalendar()[0]
What is the difference between the year attribute and the isocalendar method?

One returs the year attribute of an object, the other is a method which returns a tuple containing the ISO year, ISO week number, and ISO weekday.

### 6. Argument Signatures
How many arguments does the str.join method expect? What happens if you call it with fewer or more arguments?

In [ ]:
# Only takes 1 argument
my_list = ["Monty", "Python", "and", "the", "Quest", "for", "the", "Holy", "Grail"]
print(" ".join(my_list))

Monty Python and the Quest for the Holy Grail

In [ ]:
# If you give it 2 arguments:
print(" ".join("Monty", "Python"))
#TypeError: str.join() takes exactly one argument (2 given)

<class 'TypeError'>: str.join() takes exactly one argument (2 given)

### 7. Find Substring
Using the official Python documentation, can you determine how to check whether a string contains a specific substring?

Yes, you can use string.find() string.index() or the in keyword

In [ ]:
my_string = "Hello, World!"

# using in keyword
print("World" in my_string)           # True
print("Python" in my_string)          # False

#using string.find()
print(my_string.find("Hello"))        # 0
print(my_string.rfind("l"))           # 10
print(my_string.find("Python"))       # -1

#using string.index()
print(my_string.index("o,"))          # 4
print(my_string.rindex("o"))          # 8
print(my_string.index("Python"))      # ValueError: substring not found

True
False
0
10
-1
4
8

<class 'ValueError'>: substring not found

### 8. Syntax Error
The following code raises a SyntaxError:
    speed_limit = 60
    current_speed = 80
    
    if current_speed > speed_limit
        print('"People are so bad at driving cars that '
              "computers don\'t have to be that good to be "
              'much better." -- Marc Andreessen')
What does a SyntaxError indicate? Try running the above code, then use the resulting error message to fix the error.

Syntax error usually indicates that something has been formattted incorrectly. In this case they forgot the colon after the if statement.

In [ ]:
speed_limit = 60
current_speed = 80

if current_speed > speed_limit
    print('"People are so bad at driving cars that '
          "computers don\'t have to be that good to be "
          'much better." -- Marc Andreessen')

<class 'SyntaxError'>: expected ':' (<ipython-input-44-0971f91e1b8d>, line 4)

In [ ]:
speed_limit = 60
current_speed = 80

if current_speed > speed_limit:
    print('"People are so bad at driving cars that '
          "computers don\'t have to be that good to be "
          'much better." -- Marc Andreessen')

"People are so bad at driving cars that computers don't have to be that good to be much better." -- Marc Andreessen

### 9. TypeError
The following code raises a TypeError:
    tweet = 'Woohoo! :-)'
    
    if len(tweet) > 140:
        print('Tweet is too long!')
    
    length_of_tweet = len(tweet + 5)
What does a TypeError indicate? Try running the above code, then use the resulting error message to determine exactly what is wrong. (You don't have to fix this code.)

In [ ]:
tweet = 'Woohoo! :-)'

if len(tweet) > 140:
    print('Tweet is too long!')

length_of_tweet = len(tweet + 5)
# I'm assuming the follwoing was the intention:
# length_of_tweet = len(tweet) + 5)

<class 'TypeError'>: can only concatenate str (not "int") to str

## III. Loops

### 1. Loop and Print
Add some code inside the following for loop to print the current value of num on each iteration. Before you execute the code: What sequence of numbers do you expect to be printed?

for num in range(0, 11, 2):
        pass # include your code here

In [ ]:
for num in range(0, 11, 2):
    print(num)                 # 0, 2, 4, 6, 8, 10

0
2
4
6
8
10

### 2. Countdown
The following code prints the numbers from 1 to 10. Modify it so that it instead prints the numbers from 10 to 1 in descending order, followed by 'Launch!'.
    for i in range(1, 11):
        print(i)

In [ ]:
for i in range(10, 0, -1):
    print(i)
print('Launch!')

10
9
8
7
6
5
4
3
2
1
Launch!

### 3. Triple Greeting
Write a loop that prints the value of the greeting variable three times.
    greeting = 'Aloha!'

In [ ]:
greeting = 'Aloha!'
for i in range(3):
    print(greeting)

Aloha!
Aloha!
Aloha!

### 4. Take Two
Write a for loop that iterates over the integers from 1 to 100 and prints the result of multiplying each integer by 2.

In [ ]:
for i in range(101):
  print(i * 2)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

### 5. Looping over List Elements
Using the code below as a starting point, write a while loop that prints the elements of lst at each index and terminates after printing the last element of the list.
```
lst = [1, 3, 7, 15]
index = 0e
```

In [ ]:
lst = [1, 3, 7, 15]
index = 0

while index < len(lst):
    print(lst[index])
    index += 1

1
3
7
15

### 6. Greet Your Friends
Your friends just showed up! Given the following list of names, use a for loop to greet each friend individually.
```
friends = ['Sarah', 'John', 'Hannah', 'Dave']
```

In [ ]:
friends = ['Sarah', 'John', 'Hannah', 'Dave']
for friend in friends:
    print(f'Hello, {friend}!')

Hello, Sarah!
Hello, John!
Hello, Hannah!
Hello, Dave!

### 6.  Continue
Take a moment to read the Python documentation on the continue statement.

Write a for loop that iterates over the elements of the list cities and prints the length of each string. If the element is None, use the continue statement to skip forward to the next iteration without printing anything.
```
cities = ['Istanbul', 'Los Angeles', 'Tokyo', None,
          'Vienna', None, 'London', 'Beijing', None]
```

In [ ]:
cities = ['Istanbul', 'Los Angeles', 'Tokyo', None,
          'Vienna', None, 'London', 'Beijing', None]
for city in cities:
    if city == None:
        continue
    print(len(city))

8
11
5
6
6
7

### 7. And on and on and on
The following code keeps looping forever. (You can hit Ctrl-C to stop it.) Why does the loop keep running? Modify it so that it stops after the first iteration.
```
while True:
    print("and on")
```

In [ ]:
while True:
    print("and on")
    break

and on

### 8. Finding Nemo
Loop over the elements of the fish_list list below, logging each one. Terminate the loop immediately after printing the string 'Nemo'.
```
fish_list = ['Dory', 'Marlin', 'Gill', 'Nemo', 'Bruce']
```

In [ ]:
fish_list = ['Dory', 'Marlin', 'Gill', 'Nemo', 'Bruce']

for fish in fish_list:
    print(fish)
    if fish == 'Nemo':
        break

Dory
Marlin
Gill
Nemo

### 9. Loop on Command
Modify the following code so the loop continues iterating until the user inputs 'yes'.
```
while True:
    print('Should I stop looping?')
    answer = input()
```

In [ ]:
while True:
    print('Should I stop looping?')
    answer = input()
    if answer == 'yes':
        break
    print("I feel like Sisysphus, please type 'yes'")

Should I stop looping?
no
I feel like Sisysphus, please type 'yes'
Should I stop looping?
no
I feel like Sisysphus, please type 'yes'
Should I stop looping?
no
I feel like Sisysphus, please type 'yes'
Should I stop looping?
no
I feel like Sisysphus, please type 'yes'
Should I stop looping?
yes

## IV. Conditionals

### 1. Truthy vs. Falsy
Without looking at your notes or the official documentation, try to recall all values that count as falsy in Python.

0, None, False, empty/space

### 2. Yes? No? Part 1
The code provided below randomly initializes random_number to either 0 or 1 each time it is executed.

Write an if statement that prints Yes! if random_number is 1, and No. if random_number is 0.

```
import random
random_number = random.randint(0, 1)
```

In [ ]:
import random
random_number = random.randint(0, 1)

if random_number:
    print('Yes!')
else:
    print('No.')

No.

### 3. Yes? No? Part 2 (conditional expression)
Rewrite your code from the previous exercise to use a ternary expression.

In [ ]:
import random
random_number = random.randint(0, 1)

print('Yes!') if random_number else print('No.')

Yes!

### 4. Check the Weather, Part 1
Initialize a variable weather with a string value being 'sunny', 'rainy', or whatever weather condition you choose. Then, write an if statement that prints:
* It's a beautiful day! if weather's value is 'sunny'
* Grab your umbrella. if weather's value is 'rainy'
* Let's stay inside. if weather's value is anything else

In [ ]:
weather = 'foggy'

if weather == 'sunny':
    print("It's a beautiful day!")
elif weather == 'rainy':
    print('Grab your umbrella.')
else:
    print("Let's stay inside.")

Let's stay inside.

### 5. Match-Case
Examine the code shown below. Without running it, determine what it will print. If you're not sure, refer to our Python book.
```
animal = 'horse'

match animal:
    case 'duck':
        print('quack')
    case 'squirrel':
        print('nook nook')
    case 'horse':
        print('neigh')
    case 'bird':
        print('tweet tweet')
    case _:
        print('*cricket*')
```

In [ ]:
animal = 'horse'

match animal:
    case 'duck':
        print('quack')
    case 'squirrel':
        print('nook nook')
    case 'horse':
        print('neigh')
    case 'bird':
        print('tweet tweet')
    case _:
        print('*cricket*')

neigh

### 6. Check the Weather, Part 2
Take your code from the previous Check the Weather exercise and rewrite it as a match-case statement. Feel free to add more cases besides 'sunny' and 'rainy'.

In [ ]:
weather = 'tornado'

match weather:
    case  'sunny':
        print("It's a beautiful day!")
    case 'rainy':
        print('Grab your umbrella.')
    case 'foggy':
        print("Hello, Karl the Fog.")
    case 'muggy':
        print('Turn the AC on, please.')
    case 'snowy':
        print('''Yes, you still have to study for Launch School
        even if its a snow day.''')
    case 'hurricane':
        print('Consider evacuating.')
    case _:
        print("Let's stay inside")

Let's stay inside

### 7. Logical Conditions 1
Predict the output of the following code:
```
if False or True:
    print('Yes!')
else:
    print('No...')
```

This code will always print "Yes!"

In [ ]:
if False or True:
    print('Yes!')
else:
    print('No...')

Yes!

### 8. Logical Conditions 2
Predict the output of the following code:
```
if True and False:
    print('Yes!')
else:
    print('No...')
```

This code will always print "No..."

In [ ]:
if True and False:
    print('Yes!')
else:
    print('No...')

No...

### 9. Logical Conditions 3
Without running the following code, determine what will be printed.
```
sale = True
admission_price = 5.25 if not sale else 3.99

print(f"${admission_price}")
```

In [ ]:
# The above code is the same as:
sale = True

if sale:
    admission_price = 3.99
else:
    admisssion_price = 5.25

print(f'${admission_price}')

$3.99

In [ ]:
sale = True
admission_price = 5.25 if not sale else 3.99

print(f"${admission_price}")

# Since sale is Truthy, the code above should print "3.99"

$3.99

### 10. Are we moving?
Determine what the following code snippet prints. First solve it in your head or on paper, then run it in your Python environment to check the result.
```
speed = 0
acceleration = 24
braking_force = 19
is_moving = braking_force < acceleration and (speed > 0 or acceleration > 0)
print(is_moving)
```

The above code will print true.
1. Python will first evaluate the parentheses: (speed > 0 OR acceleration > 0) as True
1. Python will then evaluate braking_force < acceleration AND Boolean result from parenthesis
1. Python will print True

In [ ]:
speed = 0
acceleration = 24
braking_force = 19
is_moving = braking_force < acceleration and (speed > 0 or acceleration > 0)
print(is_moving)

True

#### Bonus question
Do we need the parentheses in the boolean expression or could we have written the following?:
```
is_moving = braking_force < acceleration and speed > 0 or acceleration > 0
```

No, because the and operator has a higher precedence than the or operator in Python. The parentheses ensures that the or evaluation is completed first, then the result of that or evaluaiton is used to evaluate the and operation. If the parentheses were not there, it would evaluate the and comparison first, then use that result to evaluate the or comparison.

Without the panrentheses, Python will evaluate in the following order:
1. braking_force < acceleration and speed > 0 # False
1. False or acceleration > 0 #True
1. print True

In this case, Python still prints "True" however, without the parentheses the evalutaion are done out of order.
```
braking_force < acceleration and speed > 0 or acceleration > 0
#is the same as:
(braking_force < acceleration and speed > 0) or acceleration > 0
#which is not the same as:
is_moving = braking_force < acceleration and (speed > 0 or acceleration > 0)
```

In [ ]:
speed = 0
acceleration = 24
braking_force = 19
is_moving = braking_force < acceleration and speed > 0 or acceleration > 0
print(is_moving)

True

## V. Functions

### 1. Multiply
Examine the function invocation below. Write the function multiply, such that it accepts two arguments and returns the product of its arguments. You may assume that the function arguments will always be numbers.
```
multiply(12, 4)      # 48
```

In [ ]:
def multiply(multiplicand, multiplier):

    # If both inputs are strings, raise TypeError:
    if type(multiplicand) == str and type(multiplier) == str:
        raise TypeError(
            'Both inputs cannot be type str, only one input can be of type str'
        )

    return multiplicand * multiplier

print(multiply(5, 3))           # 15
print(multiply(3.2, 4.2))       # 13.440000000000001 python weirdness
print(multiply(3.2, 5))         # 16.0
print(multiply(5, 'book'))      # will print 'book' 5 times
print(multiply('pen', 'book'))  # will raise TypeError

### 2. Print Quote
Write a function that prints Bruce Eckel's quote 'Python is executable pseudocode.'. What is the return value of the function?
```
bruce_eckel_quote()
```

In [ ]:
def bruce_eckel_quote():
    print('Python is executable pseudocode.')

bruce_eckel_quote()

Python is executable pseudocode.

### 3. Cite the Author
Let's generalize the function from the previous exercise. Implement a function named cite that takes two string arguments: the author of the quote and what they said. It then prints the quote, as shown below.
```
cite('Bruce Eckel', 'Python is executable pseudocode.')
# Bruce Eckel said: "Python is executable pseudocode."
```

In [ ]:
def cite(author, quote):
    print(f'{author} said: {quote}')


cite('Victor Hugo', 'Nothing makes a man so adventurous as an empty pocket.')

cite(
    'Henry David Thoreau',
    'There are nowadays professors of philosophy, but not philosophers.'
    )

Victor Hugo said: Nothing makes a man so adventurous as an empty pocket.
Henry David Thoreau said: There are nowadays professors of philosophy, but not philosophers.

### 4. Squared Number
Write a function that accepts a single argument, a number, and returns the result of multiplying its argument by an exponent of 2 (also known as squaring the number or raising the number to the power of 2).
```
squared_number(3)   # 9
```

In [ ]:
def squared_number(base):
    return base ** 2
    # also valid: return base * base

print(squared_number(3))
print(squared_number(1))
print(squared_number(0))
print(squared_number(1))
print(squared_number(-1))
print(squared_number(-5))

9
1
0
1
1
25

### 5. Display Division
Without running the following code, determine what it will print:
```
def multiples_of_three():
    divisor = 1

    for dividend in range(3, 31, 3):
        print(f'{dividend} / {divisor} = 3')
        divisor += 1

multiples_of_three
```

The above code will not print anything becase the function on line 8 was never invoked.  
If you add parentheses () to the end of the function, it will be invoked and will print the following:  
3 / 1 = 3  
6 / 2 = 3  
9 / 3 = 3  
12 / 4 = 3  
15 / 5 = 3  
18 / 6 = 3  
21 / 7 = 3  
24 / 8 = 3  
27 / 9 = 3  
30 / 10 = 3

In [ ]:
def multiples_of_three():
    divisor = 1

    for dividend in range(3, 31, 3):
        print(f'{dividend} / {divisor} = 3')
        divisor += 1

multiples_of_three

In [ ]:
def multiples_of_three():
    divisor = 1

    for dividend in range(3, 31, 3):
        print(f'{dividend} / {divisor} = 3')
        divisor += 1

multiples_of_three()

3 / 1 = 3
6 / 2 = 3
9 / 3 = 3
12 / 4 = 3
15 / 5 = 3
18 / 6 = 3
21 / 7 = 3
24 / 8 = 3
27 / 9 = 3
30 / 10 = 3

### 6. Three-way Comparison
Write a function that compares the length of two strings. It should return -1 if the first string is shorter, 1 if the second string is shorter, and 0 if they're of equal length. For example:
```
compare_by_length('patience', 'perseverance') # -1
compare_by_length('strength', 'dignity')      #  1
compare_by_length('humor', 'grace')           #  0
```

In [ ]:
def compare_by_length(str1, str2):
    if type(str1) != str or type(str2) != str:
        raise TypeError('Both inputs must be strings')
    elif len(str1) < len(str2):
        return -1
    elif len(str1) > len(str2):
        return 1
    elif len(str1) == len(str2):
        return 0
    else:
        raise RuntimeError(
            'Unexpected condition occurred in compare_by_length function'
            )

print(compare_by_length('patience', 'perseverance'))  # -1
print(compare_by_length('strength', 'dignity'))       #  1
print(compare_by_length('humor', 'grace'))            #  0
print(compare_by_length(5, 'book'))                   #  TypeError
print(compare_by_length(5,3))                         #  TypeError

### 7. Transformation
Use Python's string methods on the string 'Captain Ruby' to create a string with the value 'Captain Python'.

In [ ]:
'Captain Ruby'.replace('Ruby', 'Python')

'Captain Python'

In [ ]:
my_string = 'Captain Ruby'
my_string = my_string.replace('Ruby', 'Python')
print(my_string)

Captain Python

### 8. Internationalization 1
Use Python's control structures to create a function that takes an ISO 639-1 language code and returns a greeting in that language. You can take the examples below or add whatever languages you like.

In [ ]:
def greet(lang):
    match lang:
        case 'en':
            return 'Hi!'
        case 'fr':
            return 'Salut!'
        case 'pt':
            return 'Ol!'
        case 'de':
            return 'Hallo!'
        case 'sv':
            return 'Hej!'
        case 'af':
            return 'Haai!'
        case 'hy':
            return ''

print(greet('en'))         # Hi!
print(greet('fr'))         # Salut!
print(greet('pt'))         # Ol!
print(greet('de'))         # Hallo!
print(greet('sv'))         # Hej!
print(greet('af'))         # Haai!
print(greet('hy'))        #

Hi!
Salut!
Ol!
Hallo!
Hej!
Haai!

### Locale Part 1
Write a function that extracts the language code from a locale. A locale is a combination of a language code, a region, and usually also a character set, e.g en_US.UTF-8.
```
print(extract_language('en_US.UTF-8'))      # en
print(extract_language('en_GB.UTF-8'))      # en
print(extract_language('ko_KR.UTF-16'))     # ko
```

In [ ]:
def extract_language(locale):
    lang = locale[0:locale.find('_')]
    return lang

print(extract_language('en_US.UTF-8'))      # en
print(extract_language('en_GB.UTF-8'))      # en
print(extract_language('ko_KR.UTF-16'))     # ko

en
en
ko

### Locale Part 2
Similar to the previous exercise, write a function that extracts the region code from a locale. For example:
```
print(extract_region('en_US.UTF-8'))    # US
print(extract_region('en_GB.UTF-8'))    # GB
print(extract_region('ko_KR.UTF-16'))   # KR
```

In [ ]:
def extract_region(locale):
    region = locale[locale.find('_') + 1: locale.find('.')]
    return region

print(extract_region('en_US.UTF-8'))    # US
print(extract_region('en_GB.UTF-8'))    # GB
print(extract_region('ko_KR.UTF-16'))   # KR

US
GB
KR

### Internationalization 2
Building on your solutions from the previous exercises, write a function local_greet that takes a locale as input, and returns a greeting. The locale lets us greet people from different countries appropriately, even when they share a common language, for example:
```
print(local_greet('en_US.UTF-8'))       # Hey!
print(local_greet('en_GB.UTF-8'))       # Hello!
print(local_greet('en_AU.UTF-8'))       # Howdy!
```
Distinguish greetings for English speaking countries like the US, UK, Canada, or Australia in your implementation, and feel free to fall back on the language-specific greetings in all other cases, for example:
```
print(local_greet('fr_FR.UTF-8'))       # Salut!
print(local_greet('fr_CA.UTF-8'))       # Salut!
print(local_greet('fr_MA.UTF-8'))       # Salut!
```
When implementing local_greet, make sure you re-use your extract_language, extract_region, and greet functions from the previous exercises.

If you're interested, you can find a list of locales here: https://www.localeplanet.com/icu/iso639.html

In [ ]:
def extract_language(locale):
    lang = locale[0:locale.find('_')]
    return lang

def extract_region(locale):
    region = locale[locale.find('_') + 1: locale.find('.')]
    return region

def greet(lang):
    match lang:
        case 'en':
            return 'Hi!'
        case 'fr':
            return 'Salut!'
        case 'pt':
            return 'Ol!'
        case 'de':
            return 'Hallo!'
        case 'sv':
            return 'Hej!'
        case 'af':
            return 'Haai!'
        case 'hy':
            return ''

def local_greet(locale):
    reg = extract_region(locale)
    lang = extract_language(locale)

    match (lang, reg):
        case ('en', 'US'):
            return 'Hey!'
        case ('en', 'GB'):
            return 'Hello!'
        case ('en', 'AU'):
            return 'Howdy!'
        case ('fr', 'CA'):
            return 'Salut!'
        case ('en', 'CA'):
            return 'Hi!'
        case _:
            return greet(lang)


print(local_greet('en_US.UTF-8'))       # Hey!
print(local_greet('en_GB.UTF-8'))       # Hello!
print(local_greet('en_AU.UTF-8'))       # Howdy!
print(local_greet('en_CA.UTF-8'))       # Howdy!
print(local_greet('fr_FR.UTF-8'))       # Salut!
print(local_greet('fr_CA.UTF-8'))       # Salut!
print(local_greet('fr_MA.UTF-8'))       # Salut!
print(local_greet('hy_AM.UTF-8'))       #

Hey!
Hello!
Howdy!
Hi!
Salut!
Salut!
Salut!

## VI. Variable Scope
What's my Value?

### Part 1
What will the following code do and why? Don't run it until you have tried to answer.
```
if True:
    my_value = 20

print(my_value)
```

In Python, variables initialized inside a block (like inside an if statement) are accessible outside of that block. Thus, the variable my_value initialized inside the if block on line 2 can be accessed and printed on line 4. The output of the print(my_value) statement is 20.

In [ ]:
if True:
    my_value = 20

print(my_value)

20

In [ ]:
if False:
    my_new_value = 42

print(my_new_value)

NameError: name 'my_new_value' is not defined

### Part 2
What will the following code do and why? Don't run it until you have tried to answer.
```
x = 10

def my_function():
    x = x + 5
    print(x)

my_function()
```

In the function my_function, when we attempt to reassign the value of x by incrementing it, Python assumes that x is a local variable since we're assigning it inside the function. However, since it is uninitialized, we get an error. If we wanted to modify the global x, we would need to use the global keyword.

In [ ]:
x = 10

def my_function():
    x = x + 5
    print(x)

my_function()

UnboundLocalError: local variable 'x' referenced before assignment

### Part 3
What will the following code do and why? Don't run it until you have tried to answer.
```
def my_function():
    a = 1

    if True:
        print(a)

my_function()
```

It will print 1. a is correctly intitialized, the if block reads True, and the function is correctly invoked.

In [ ]:
def my_function():
    a = 1

    if True:
        print(a)

my_function()

1

### Part 4
What will the following code do and why? Don't run it until you have tried to answer.
```
a = 1

def my_function():
    print(a)

my_function()
```

The variable a is initialized at the top level of our code and is initialized with the value 1. This makes it globally accessible throughout the code, including within the body of the my_function. When we invoke my_function, it prints the value of the global variable a, which is 1.

The reason this works, but Part 2 doesn't, is because in Part 2 you are trying to change the variable or reassign, here we are just passing it into the print function. As long as you are just referenceing a, not chanign it, it should work.

In [ ]:
a = 1

def my_function():
    print(a)

my_function()

1

### Part 5
What will the following code do and why? Don't run it until you have tried to answer.
```
a = 1

def my_function():
    print(a)
    a = 2

my_function()
```

Python detects that a is being assigned within the my_function function and therefore treats it as a local variable. However, since we are trying to print the local a variable's value before it has been assigned a value, we get an error.

If you try to assign a varibale in a function, Python will think of it as a local variable and will not look for global variables.

In [ ]:
a = 1

def my_function():
    print(a)
    a = 2

my_function()

UnboundLocalError: local variable 'a' referenced before assignment

### Part 6
What will the following code do and why? Don't run it until you have tried to answer.
```
a = 1

def my_function():
    a = 2

my_function()
print(a)
```

The code will print 1, because the a in the function is a local variable, but line 1 is a global function, the print function is invoked in the global frame.

In [ ]:
a = 1

def my_function():
    a = 2

my_function()
print(a)

1

### Part 7
What will the following code do and why? Don't run it until you have tried to answer.
```
a = 1

def my_function():
    global a
    a = 2

my_function()
print(a)
```

It will print 2 because by using the global keyword you told Python that it can use and mess with the variable a in the globla scope.

In [ ]:
a = 1

def my_function():
    global a
    a = 2

my_function()
print(a)

2

### Part 8
What will the following code do and why? Don't run it until you have tried to answer.
```
print(greeting)

greeting = 'Hello world!'
```

It will raise an error because the flow control is wrong. You need to switch the order of the lines.

In [ ]:
print(greeting)

greeting = 'Hello world!'

NameError: name 'greeting' is not defined

### Part 9
What will the following code do and why? Don't run it until you have tried to answer.
```
a = 7

def my_function(b):
    b += 10

my_function(a)
print(a)
```

In Python, integers are immutable, which means their values cannot be changed. When the my_function function is called with a as an argument, the local variable b within the function scope is set to reference the same value as a, which is 7. During the execution of the += operation inside the my_function function, b += 10 effectively becomes b = b + 10. This operation creates a new integer object 17 and updates b to reference this new object. However, the original variable a remains unaffected and retains its value of 7.

In [ ]:
a = 7

def my_function(b):
    b += 10

my_function(a)
print(a)

7

### Part 10
What will the following code do and why? Don't run it until you have tried to answer.
```
b = [1, 2, 3]

def my_function():
    b[0] = 10

my_function()
print(b)
```

This example shows how lists, being mutable objects, can be modified within a function, affecting the original list in the global scope.

The list b is initialized on line 1 outside the function my_function. Inside the function, on line 4, the first element of b is changed to 10. Since b is not a local variable within my_function() but we are directly referencing b from the global scope, the change b[0] = 10 impacts the global variable b. Consequently, after the execution of my_function(), the global list b reflects this modification, and printing b will display [10, 2, 3].


This all comes down to lists being mutable.

In [ ]:
b = [1, 2, 3]

def my_function():
    b[0] = 10

my_function()
print(b)

[10, 2, 3]

## VII. Strings

### 1. Length
Determine the length of the string "These aren't the droids you're looking for.".

In [ ]:
print(len("These aren't the droids you're looking for."))

43

### 2. ALL CAPS
Convert the string 'confetti floating everywhere' to all upper case.

In [ ]:
my_string = 'confetti floating everywhere'
caps_string = my_string.upper()
print(caps_string)

CONFETTI FLOATING EVERYWHERE

In [ ]:
print('confetti floating everywhere'.upper())

CONFETTI FLOATING EVERYWHERE

### 3. Ignoring Case
Using the following code, compare the value of name with the string 'RoGeR' while ignoring the case of both strings. Print true if the values are the same; print false if they aren't. Next, perform a case-insensitive comparison between the value of name and the string 'DAVE'.
```
name = Roger
```

In [ ]:
name = 'Roger'

print(name.casefold() == 'RoGeR'.casefold())      # True
print(name.casefold() == 'DAVE'.casefold())       # False

True
False

In [ ]:
string1 = "SS".lower()
string2 = "".lower()
print(string1 == string2)                         # False

string1_casefolded = "SS".casefold()
string2_casefolded = "".casefold()
print(string1_casefolded == string2_casefolded)   # True

False
True

### 4. Multiline String
How can you assign the following rhyme to a single variable while preserving the line break?
```
A pirate I was meant to be!
Trim the sails and roam the sea!
```

In [ ]:
my_shanty = "A pirate I was meant to be!\nTrim the sails and roam the sea!"
print(my_shanty)

A pirate I was meant to be!
Trim the sails and roam the sea!

In [ ]:
rhyme = '''A pirate I was meant to be!
Trim the sails and roam the sea!'''

print(rhyme)

A pirate I was meant to be!
Trim the sails and roam the sea!

### 5. Contains Character
Write code that checks whether the string char_sequence contains the character x.
```
char_sequence = 'TXkgaG92ZXJjcmFmdCBpcyBmdWxsIG9mIGVlbHMu'
```

In [ ]:
char_sequence = 'TXkgaG92ZXJjcmFmdCBpcyBmdWxsIG9mIGVlbHMu'
print('x' in char_sequence)

True

### 6. Is Empty?
Write a function that checks whether a string is empty or not. For example:
```
print(is_empty('mars'))  # False
print(is_empty('  '))    # False
print(is_empty(''))      # True
```

In [ ]:
def is_empty(string):
    if len(string) == False:
        return True
    else:
        return False

print(is_empty('mars'))  # False
print(is_empty('  '))    # False
print(is_empty(''))      # True

False
False
True

In [ ]:
def is_empty(string):
    return string == ''

print(is_empty('mars'))  # False
print(is_empty('  '))    # False
print(is_empty(''))      # True

False
False
True

In [ ]:
def is_empty(s):
    return len(s) == 0

print(is_empty('mars'))  # False
print(is_empty('  '))    # False
print(is_empty(''))      # True

False
False
True

A string is empty if it does not contain any characters. The easiest way is to simply check for an empty string, and nearly as easily, you can check the length of the string.

A more Pythonic approach would be to leverage the fact that an empty string is falsy. By returning the negation of the string using the not keyword, we can obtain a solution that looks like this:

In [ ]:
def is_empty(s):
    return not s

print(is_empty('mars'))  # False
print(is_empty('  '))    # False
print(is_empty(''))      # True

False
False
True

### 7. Is Empty or Blank?
Write an is_empty_or_blank function to determine whether a string is either empty or consists entirely of spaces. For example:
```
print(is_empty_or_blank('mars'))  # False
print(is_empty_or_blank('  '))    # True
print(is_empty_or_blank(''))      # True
```

In [ ]:
def is_empty_or_blank(s):
    if s.isspace() or len(s) == 0:
        return True
    else:
        return False

print(is_empty_or_blank('mars'))  # False
print(is_empty_or_blank('  '))    # True
print(is_empty_or_blank(''))      # True

False
True
True

In [ ]:
spaces = ' '
empty= ''

print('A string with spaces is Falsy') if spaces == 0 else print('A string with spaces is Truthy')
print('An empty string is Falsy') if empty == 0 else print('An empty string is Truthy')

A string with spaces is Truthy
An empty string is Truthy

In [ ]:
def is_empty_or_blank(s):
    return len(s.strip(' ')) == 0

print(is_empty_or_blank('mars'))  # False
print(is_empty_or_blank('  '))    # True
print(is_empty_or_blank(''))      # True

False
True
True

In [ ]:
def is_empty_or_blank(s):
    return len(s.strip(' ')) == 0

print(is_empty_or_blank('mars'))  # False
print(is_empty_or_blank('  '))    # True
print(is_empty_or_blank(''))      # True

False
True
True

In [ ]:
def is_empty_or_blank(s):
    return not s.strip(' ')

print(is_empty_or_blank('mars'))  # False
print(is_empty_or_blank('  '))    # True
print(is_empty_or_blank(''))      # True

False
True
True

### 8. Capitalize Words
Write code that capitalizes the words in the string 'launch school tech & talk', so that you get the string 'Launch School Tech & Talk'.

In [ ]:
# My Solution
print('launch school tech & talk'.title())

Launch School Tech & Talk

In [ ]:
# My Solutiion as a Function (Launch School Solution 2)
def capitalize_words(string):
    return string.title()

string = 'launch school tech & talk'
result = capitalize_words(string)
print(result)  # Launch School Tech & Talk

Launch School Tech & Talk

In [ ]:
# Launch School Solution 1
def capitalize_words(string):
    words = string.split(' ')
    capitalized_words = []

    for word in words:
        capitalized_words.append(word.capitalize())

    return ' '.join(capitalized_words)

string = 'launch school tech & talk'
result = capitalize_words(string)
print(result)  # Launch School Tech & Talk

Launch School Tech & Talk

### 9. Check Prefix
Write a function that checks whether a string starts with a specific prefix.
```
print(starts_with("launch", "la"))   # True
print(starts_with("school", "sah"))  # False
print(starts_with("school", "sch"))  # True
```

In [ ]:
def starts_with(s, prefix):
    return s.startswith(prefix)

print(starts_with("launch", "la"))   # True
print(starts_with("school", "sah"))  # False
print(starts_with("school", "sch"))  # True

True
False
True

### 10. Count Substrings
Write a function that counts the number of occurrences of a substring in a string.
```python
print(count_substrings("lemon lemon lemon", "lemon")) # 3
print(count_substrings("laLAlaLA", "la")) # 2
print(count_substrings("launch", "uno")) # 0
```

In [ ]:
# My Solution
def count_substrings(string, substring):
    matches = 0
    if string.find(substring) == -1:
        return 0
    while string.find(substring) != -1:
        matches += 1
        string = string[string.find(substring) + 1:len(string)]
    return matches

print(count_substrings("lemon lemon lemon", "lemon")) # 3
print(count_substrings("laLAlaLA", "la"))             # 2
print(count_substrings("launch", "uno"))              # 0

3
2
0

In [ ]:
#Launch School Solution
def count_substrings(string, substring):
    return string.count(substring)

print(count_substrings("lemon lemon lemon", "lemon")) # 3
print(count_substrings("laLAlaLA", "la")) # 2
print(count_substrings("launch", "uno")) # 0

3
2
0

## VIII. Lists

### 1. First Element
Write a function that returns the first element of a list provided as an argument. For example:
```python
print(first(['Earth', 'Moon', 'Mars']))  # Earth
```
Be sure to handle the case where the input list is empty.

In [ ]:
def first(list):
    if len(list) == 0:
        return None
    else:
        return list[0]

print(first(['Earth', 'Moon', 'Mars']))  # Earth
print(first([]))

Earth
None

In [ ]:
# A more pythonic solution takes advatage
# of the fact that empty iterables are falsy

def first(lst):
    if lst:
        return lst[0]
    else:
       return None

print(first(['Earth', 'Moon', 'Mars']))  # Earth
print(first([]))                         # None

Earth
None

### 2. Last Element
Write a function that returns the last element of a list provided as an argument. For example:
```python
print(last(['Earth', 'Moon', 'Mars']))  # Mars
```
Be sure to handle the case where the input list is empty.

In [ ]:
def last(list):
    if list:
        return list[-1]
    else:
        return None

print(last(['Earth', 'Moon', 'Mars']))  # Mars
print(last([]))                         # None

Mars
None

### 3. Add + Delete
We are given the following list of energy sources.
```python
energy = ['fossil', 'solar', 'wind', 'tidal', 'fusion']
```
Write some code to remove 'fossil' from the list, then add 'geothermal' to the end of the list.

In [ ]:
energy = ['fossil', 'solar', 'wind', 'tidal', 'fusion']
energy = energy[1:len(energy)]
energy.append('geothermal')
print(energy)

['solar', 'wind', 'tidal', 'fusion', 'geothermal']

In [ ]:
# Launch School Solution
energy = ['fossil', 'solar', 'wind', 'tidal', 'fusion']
energy.remove('fossil')
energy.append('geothermal')
print(energy)               # ['solar', 'wind', 'tidal', 'fusion', 'geothermal']

['solar', 'wind', 'tidal', 'fusion', 'geothermal']

### 4. Alphabet
Split the string alphabet into a list of characters.
```python
alphabet = 'abcdefghijklmnopqrstuvwxyz'
```

In [ ]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
print(list(alphabet))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

### 5. Filter
Count the number of elements in scores that are 100 or above.
```python
scores = [96, 47, 113, 89, 100, 102]
```

In [ ]:
scores = [96, 47, 113, 89, 100, 102]
counter = 0
for score in scores:
    if score >= 100:
        counter += 1
print(counter)

# Launch School solution #
# Creates new list only containing scores above 100,
# then prints lenght of new list
high_scores = [score for score in scores if score >= 100]
print(len(high_scores))

3

### 6. Vocabulary
You've been given a list of vocabulary words grouped into sub-lists, by meaning. This is a two-dimensional list or a nested list. Write some code that iterates through and prints all the words, one per line.
```python
vocabulary = [
    ['happy', 'cheerful', 'merry', 'glad'],
    ['tired', 'sleepy', 'fatigued', 'drained'],
    ['excited', 'eager', 'enthused', 'animated'],
]

# happy
# cheerful
# merry
# glad
# tired
# sleepy
# etc...
```

In [ ]:
vocabulary = [
    ['happy', 'cheerful', 'merry', 'glad'],
    ['tired', 'sleepy', 'fatigued', 'drained'],
    ['excited', 'eager', 'enthused', 'animated'],
]

for list in vocabulary:
    for item in list:
        print(item)

happy
cheerful
merry
glad
tired
sleepy
fatigued
drained
excited
eager
enthused
animated

### 7. Equality
Predict the output of the code shown below. When you run the code, do you see what you expected? Why or why not?
```python
list1 = [2, 6, 4]
list2 = [2, 6, 4]

print(list1 == list2)
```

I predict the output will be True, since both lists have the same value, however both lists do not refer to the same address. In other words, list1 is equal to list2, but list 1 is not list2.

In [ ]:
list1 = [2, 6, 4]
list2 = [2, 6, 4]

print(list1 == list2)  # True
print(list1 is list2)  # False

True
False

### 8. Type
How can you check if a variable holds a value that is a list? Given two variables, verify whether the values they hold are lists.
```python
some_value1 = [0, 1, 0, 0, 1]
some_value2 = 'I leave you my Kingdom, take good care of it.'
```

In [ ]:
some_value1 = [0, 1, 0, 0, 1]
some_value2 = 'I leave you my Kingdom, take good care of it.'

# My Solution
print(type(some_value1))
print(type(some_value2))

#Launch School Solution
print(isinstance(some_value1, list))  # True
print(isinstance(some_value2, list))  # False

<class 'list'>
<class 'str'>
True
False

### 9. Travel
The destinations list contains a list of travel destinations.

```python
destinations = ['Prague', 'London', 'Sydney', 'Belfast',
                'Rome', 'Aruba', 'Paris', 'Bora Bora',
                'Barcelona', 'Rio de Janeiro', 'Marrakesh',
                'New York City']
```
Write a function that, without using the built-in in operator, checks whether a specific destination is included within destinations. For example: When checking whether 'Barcelona' is contained in destinations, the expected output is True, whereas the expected output for 'Nashville' is False.

```python
contains('Barcelona', destinations)  # True
contains('Nashville', destinations)  # False
```

In [ ]:
def contains(target, list):
    for item in list:
        if target == item:
            return True
    return False

'''
Using in operator:

def contains(element, lst):
    return element in lst
'''


destinations = ['Prague', 'London', 'Sydney', 'Belfast',
                'Rome', 'Aruba', 'Paris', 'Bora Bora',
                'Barcelona', 'Rio de Janeiro', 'Marrakesh',
                'New York City']

print(contains('Barcelona', destinations))  # True
print(contains('Nashville', destinations))  # False

True
False

### 10. Passcode
We generated parts of a passcode and now want to combine them into a string. Write some code that returns a string, with each portion of the passcode separated by a hyphen (-).

```python
passcode = ['11', 'jZ5', 'hQ3f*', '8!7g3', 'p3Fs']

# Write some code here.
# Expected return value: '11-jZ5-hQ3f*-8!7g3-p3Fs'
```

In [ ]:
passcode = ['11', 'jZ5', 'hQ3f*', '8!7g3', 'p3Fs']
print('-'.join(passcode))   # '11-jZ5-hQ3f*-8!7g3-p3Fs'

11-jZ5-hQ3f*-8!7g3-p3Fs

### 11. Checking items off the grocery list
We have a grocery list. As we check off items on that list, we want to remove them from the list.

Write code that removes the items from grocery_list, one by one, until it is empty. If you print the elements you remove, the expected behavior would look as follows.

```python
grocery_list = ['paprika', 'tofu', 'garlic', 'quinoa',
                'carrots', 'broccoli', 'hummus']

# Your code.

print(grocery_list)
```
```
#Expected Outcome
paprika
tofu
garlic
quinoa
carrots
broccoli
hummus
[]
```

In [ ]:
grocery_list = ['paprika', 'tofu', 'garlic', 'quinoa',
                'carrots', 'broccoli', 'hummus']

grocery_list.reverse()  #not necessary, just here to match expected output
while grocery_list:
    print(grocery_list.pop())

print(grocery_list)

paprika
tofu
garlic
quinoa
carrots
broccoli
hummus
[]

In [ ]:
# Launch School Solution
grocery_list = ['paprika', 'tofu', 'garlic', 'quinoa',
                'carrots', 'broccoli', 'hummus']

while grocery_list:
    checked_item = grocery_list.pop(0)  #note the index of 0
    print(checked_item)

print(grocery_list)

paprika
tofu
garlic
quinoa
carrots
broccoli
hummus
[]

In [ ]:
# My adjusted solution after seeing Launch School Solution
grocery_list = ['paprika', 'tofu', 'garlic', 'quinoa',
                'carrots', 'broccoli', 'hummus']

while grocery_list:
    print(grocery_list.pop(0))

print(grocery_list)

paprika
tofu
garlic
quinoa
carrots
broccoli
hummus
[]

The lesson here is to avoid mutating your item while iterating.

## IX. Dictionaries

### 1. First Car
Create a dictionary that contains the following data, and assign it to a variable named car.

| Type  | Color | Mileage |
|-------|-------|---------|
| Sedan | Blue  | 80000   |

In [ ]:
car = {
    'type'    : 'sedan',
    'color'   : 'blue',
    'mileage' : 80000,      #for readability, you can also use 80_000
}

print(car)
print(type(car))

{'type': 'sedan', 'color': 'blue', 'mileage': 80000}
<class 'dict'>

### 2. Adding the Year
Add some code below the following code to define a year key with a value of 2003. Don't update the dictionary literal; instead, add some code after lines 1-5:

```python
car = {
    'type':    'sedan',
    'color':   'blue',
    'mileage': 80_000,
}
```

In [ ]:
car = {
    'type':    'sedan',
    'color':   'blue',
    'mileage': 80_000,
}

car['year'] = 2003
print(car)

{'type': 'sedan', 'color': 'blue', 'mileage': 80000, 'year': 2003}

### 3. Broken Odomoeter
Using the following code, delete the 'mileage' key and its associated value from car.
```
car = {
    'type':    'sedan',
    'color':   'blue',
    'mileage': 80_000,
    'year':    2003,
}
```

In [ ]:
car = {
    'type':    'sedan',
    'color':   'blue',
    'mileage': 80_000,
    'year':    2003,
}

print(car.pop('mileage'))
#Launch School solution: del car['mileage']
print(car)

80000
{'type': 'sedan', 'color': 'blue', 'year': 2003}

### 4. What Color?
Using the following code, select and print the value 'blue' from the car object:
```python
car = {
    'type':  'sedan',
    'color': 'blue',
    'year':  2003,
}
```

In [ ]:
car = {
    'type':  'sedan',
    'color': 'blue',
    'year':  2003,
}

print(car['color'])  # blue
print()              # empty line
print(car['type'])   # sedan
print(car['color'])  # blue
print(car['year'])   # 2003

blue

sedan
blue
2003

### 5. What's my length?
Calculate and print the number of key/value pairs in the following dictionary:
```python
car = {
    'type':  'sedan',
    'color': 'blue',
    'year':  2003,
}
```

In [ ]:
car = {
    'type':  'sedan',
    'color': 'blue',
    'year':  2003,
}

print(len(car))

3

### 6. Checking Key Existence
Check whether the keys 'name' and 'grade' exist in the following dictionary:
```python
student = {
    'id': 123,
    'grade': 'B',
}
```

In [ ]:
student = {
    'id': 123,
    'grade': 'B',
}

print('grade' in student)
print('name' in student)

True
False

In [ ]:
'car'

### 7. Multiple Cars
Create a nested dictionary that contains the following data.

Car

| Type  | Color | Year |
|-------|-------|------|
| Sedan | Blue  | 2003 |

Truck

| Type   | Color | Year |
|--------|-------|------|
| Pickup | Red   | 1998 |

In [ ]:
my_cars = {
    'car' : {'type' : 'sedan', 'color' : 'blue', 'year' : 2003},
    'truck' : {'type' : 'pickup', 'color' : 'red', 'year' : 1998},
}

#Launch School solution (prettier):
ls_cars = {
    'car': {
        'type': 'sedan',
        'color': 'blue',
        'year': 2003,
    },
    'truck': {
        'type': 'pickup',
        'color': 'red',
        'year': 1998,
    },
}

print(my_cars)

{'car': {'type': 'sedan', 'color': 'blue', 'year': 2003}, 'truck': {'type': 'pickup', 'color': 'red', 'year': 1998}}
True

### Which Collection?
Rewrite car as a nested list containing the same key/value pairs.

```python
car = {
    'type':  'sedan',
    'color': 'blue',
    'year':  2003,
}
```

In [ ]:
car = {
    'type':  'sedan',
    'color': 'blue',
    'year':  2003,
}

car_list = [
    ['type', 'sedan'],
    ['color', 'blue'],
    ['year', 2003]
]

print(car_list)

[['type', 'sedan'], ['color', 'blue'], ['year', 2003]]

### Divided by Two
Use a for loop to iterate over the numbers dictionary and return a list containing each number divided by 2 as an integer. The result should be truncated to an integer. Assign the returned list to a variable named half_numbers and print its value using print.
```python
numbers = {
    'high':   100,
    'medium': 50,
    'low':    25,
}
```
Expected Output
```
[50, 25, 12]
```

In [ ]:
numbers = {
    'high':   100,
    'medium': 50,
    'low':    25,
}

my_list = []

for key in numbers:
    my_list.append(int(numbers[key] / 2))

''' Launch School Solution:
half_numbers = []
for value in numbers.values():
    half_numbers.append(value // 2)   # uses // instead of int(numbers[key] / 2)

print(half_numbers)
'''

print(my_list)

[50, 25, 12]

### 9. Labeled Numbers
Use a for loop to iterate over the numbers dictionary and print each element's key/value pair.

```
numbers = {
    'high':   100,
    'medium': 50,
    'low':    10,
}
```
Expected Output
```
A high number is 100.
A medium number is 50.
A low number is 10.

In [ ]:
numbers = {
    'high':   100,
    'medium': 50,
    'low':    10,
}

for number in numbers:
    print(f'A {number} number is {numbers[number]}.')

print() # print empty line for readability

# Launch School Solution
for key, value in numbers.items():
    print(f"A {key} number is {value}.")

A high number is 100.
A medium number is 50.
A low number is 10.

A high number is 100.
A medium number is 50.
A low number is 10.

## Debugging

### 1. Reading Error Messages
You come across the following code. What errors does it raise for the given examples and what exactly do the error messages mean?

```python
def find_first_nonzero_among(numbers):
    for n in numbers:
        if n != 0:
            return n

find_first_nonzero_among(0, 0, 1, 0, 2, 0)
find_first_nonzero_among(1)
```

In [ ]:
def find_first_nonzero_among(numbers):
    for n in numbers:
        if n != 0:
            return n

find_first_nonzero_among(0, 0, 1, 0, 2, 0)
find_first_nonzero_among(1)

TypeError: find_first_nonzero_among() takes 1 positional argument but 6 were given

This function expects a list of integers to be passed in as the argument. The example function invocations should look like this:

```python
find_first_nonzero_among([0, 0, 1, 0, 2, 0])
find_first_nonzero_among([1])
```
Discussion
The first function invocation (line 6) raises an TypeError on line 1:

```python
TypeError: find_first_nonzero_among() takes 1 positional argument but 6 were given
```
The error message tells you that the function find_first_nonzero_among was given 6 arguments but expects only 1

The second function invocation (line 7) receives the correct number of arguments, so no error is raised on line 1. However, as soon as the program tries to evaluate line 2 with the given argument, it raises another TypeError:

```python
TypeError: 'int' object is not iterable
```
This is because the function parameter numbers is now bound to the provided argument 1, so it tries to evaluate for n in numbers:. Since integers are not iterables, this raises a TypeError.

In [ ]:
#Corrected Code
def find_first_nonzero_among(numbers):
    for n in numbers:
        if n != 0:
            return n

print(find_first_nonzero_among([0, 0, 1, 0, 2, 0])) # 1 list input, not 6 ints
print(find_first_nonzero_among([1]))                # input is now an iterable

1
1

### Weather Forecast
Our predict_weather function should output a message indicating whether a sunny or cloudy day lies ahead. However, the output is the same every time the function is invoked. Why? Fix the code so that it behaves as expected.
```python
import random

def predict_weather():
    sunshine = random.choice(['True', 'False'])

    if sunshine:
        print("Today's weather will be sunny!")
    else:
        print("Today's weather will be cloudy!")
```

In [ ]:
import random

def predict_weather():
    sunshine = random.choice([True, False])
    # True and False were listed as strings, not as boolean objects
    # Just had to get rid of the quotation marks

    if sunshine:
        print("Today's weather will be sunny!")
    else:
        print("Today's weather will be cloudy!")

predict_weather()

Today's weather will be sunny!

### Multiply by Five
When the user inputs `10`, we expect the program to print `The result is 50!`, but that's not the output we see. Why not?

```python
def multiply_by_five(n):
    return n * 5

print("Hello! Which number would you like to multiply by 5?")
number = input()

print(f"The result is {multiply_by_five(number)}!")
```

In [ ]:
def multiply_by_five(n):
    return n * 5

print("Hello! Which number would you like to multiply by 5?")
number = int(input())   # input defaults to string, force it into an int

print(f"The result is {multiply_by_five(number)}!")

Hello! Which number would you like to multiply by 5?
5
The result is 25!

### Pets
Magdalena has just adopted a new pet! She wants to add her new dog, Bowser, to the pets dictionary. After doing so, she realizes that her dogs Sparky and Fido have been mistakenly removed. Help Magdalena fix her code so that all three of her dogs' names will be associated with the key 'dog' in the pets dictionary.
```python
pets = { 'cat': 'pepe', 'dog': ['sparky', 'fido'], 'fish': 'oscar' }

pets['dog'] = 'bowser'

print(pets)  # Output: {'cat': 'pepe', 'dog': 'bowser', 'fish': 'oscar'}
```

In [ ]:
pets = { 'cat': 'pepe', 'dog': ['sparky', 'fido'], 'fish': 'oscar' }

# Solution 1: pets['dog'] = ['sparky', 'fido', 'bowser']
pets['dog'].append('bowser')    # This solution is more elegant

print(pets)  # Output: {'cat': 'pepe', 'dog': 'bowser', 'fish': 'oscar'}

{'cat': 'pepe', 'dog': ['sparky', 'fido', 'bowser'], 'fish': 'oscar'}

### Confucius Says
You want to have a small script delivering motivational quotes, but with the following code you run into a very common error message: TypeError: can only concatenate str (not "NoneType") to str. What is the problem and how can you fix it?
```python
def get_quote(person):
    if person == 'Yoda':
        'Do. Or do not. There is no try.'
    if person == 'Confucius':
        'I hear and I forget. I see and I remember. I do and I understand.'
    if person == 'Einstein':
        'Do not worry about your difficulties in Mathematics. I can assure you mine are still greater.'

print('Confucius says:')
print('"' + get_quote('Confucius') + '"')
```

In [ ]:
# Magdalena forgot to add return statements to her function
def get_quote(person):
    if person == 'Yoda':
        return 'Do. Or do not. There is no try.'
    if person == 'Confucius':
        return 'I hear and I forget. I see and I remember. I do and I understand.'
    if person == 'Einstein':
        return 'Do not worry about your difficulties in Mathematics. I can assure you mine are still greater.'

print(f'Confucius says:\n{get_quote("Confucius")}\n')
print(f'Yoda says:\n{get_quote("Yoda")}\n')
print(f'Einstein says:\n{get_quote("Einstein")}\n')

Confucius says:
I hear and I forget. I see and I remember. I do and I understand.

Yoda says:
Do. Or do not. There is no try.

Einstein says:
Do not worry about your difficulties in Mathematics. I can assure you mine are still greater.

### Populate List
You want to add the numbers from 1 to 5 to a list, but the code below is not producing the expected result. How can you fix it?
```python
numbers = []

for i in range(5):
    numbers.append(i)

print(numbers)
```

In [ ]:
numbers = []

for i in range(1, 6):
    numbers.append(i)

print(numbers)

[1, 2, 3, 4, 5]

### Dictionary Access
You are trying to access a value in a dictionary, but the code is giving you an error. Can you change line 3 so that it prints "Unknown" instead of raising an error?
```python
info = {'name': 'Srdjan', 'age': 38}

print(info['city'])
```

In [ ]:
info = {'name': 'Srdjan', 'age': 38}

print(info.get('city', "Unknown"))

Unknown

### Matrix
We wanted to create a matrix 3x3 so we could use it to build a Tic-Tac-Toe game. However, we encountered an issue, as whenever we change a value in one nested list, all nested lists are affected. Can you fix the code?
```python
sub_list = ["-", "-", "-"]
matrix = []

for _ in range(3):
    matrix.append(sub_list)

matrix[0][0] = "X"
print(matrix) # [['X', '-', '-'], ['X', '-', '-'], ['X', '-', '-']]
```

In [ ]:
sub_list = ["-", "-", "-"]
matrix = []

for _ in range(3):
    matrix.append(sub_list.copy())

matrix[0][0] = "X"
print(matrix) # [['X', '-', '-'], ['X', '-', '-'], ['X', '-', '-']]

[['X', '-', '-'], ['-', '-', '-'], ['-', '-', '-']]

### Find Maximum
Your colleague has implemented a custom function to find the maximum value in a list. However, the function sometimes works correctly, but other times it produces incorrect results. Can you help your colleague fix the bug?
```python
def find_maximum(numbers):
    if not numbers:
        return None
    max_number = 0
    for number in numbers:
        if number > max_number:
            max_number = number
    return max_number

print(find_maximum([45, 3, 10, 98, 22]))  # Expected 98
print(find_maximum([-1, 0, 5, 3]))         # Expected 5
print(find_maximum([-10, -3, -20, -2]))   # Expected -2
```

In [ ]:
def find_maximum(numbers):
    if not numbers:
        return None

    max_number = numbers[0]
    # max_number = float('-inf')    # You can also initialize to -infinity

    for number in numbers:
        if number > max_number:
            max_number = number
    return max_number

print(find_maximum([45, 3, 10, 98, 22]))  # Expected 98
print(find_maximum([-1, 0, 5, 3]))        # Expected 5
print(find_maximum([-10, -3, -20, -2]))   # Expected -2

98
5
-2

### Digit Product
You've been asked to implement a function called digit_product that takes a string of digits as an argument and returns the product of all the digits in the string.

When testing the function, you find that it returns 0, which is not what you expect. Can you identify the issue and correct the code?
```python
def digit_product(str_num):
    digits = [int(n) for n in str_num]
    product = 0

    for digit in digits:
        product *= digit

    return product

result = digit_product('12345')
print(result)  # expected: 120, actual: 0
```

In [ ]:
def digit_product(str_num):
    digits = [int(n) for n in str_num]
    product = 1    # Initialize to 1 b/c anython times 0 is 0

    for digit in digits:
        product *= digit

    return product

In [ ]:
def digit_product(str_num):
    # First check for possible errors so empty inputs don't return `1`
    if not str_num:
        raise ValueError('Empty String Input')

    if type(str_num) != str:
        raise TypeError('Input is not a string.')

    digits = [int(n) for n in str_num]
    product = 1

    for digit in digits:
        product *= digit

    return product

result = digit_product('12345')
print(result)  # expected: 120, actual: 0

120